/* ************************************************************************** */
/* Variables */
/* ************************************************************************** */
:root {
	--primary-color: #818181;
	--secondary-color: #fff;
	--acent-color: #f7e7ce;
	--black: #000;
	--white: #fff;
}

/* ************************************************************************** */
/* ::selection */
/* ************************************************************************** */
::selection {
	color: var(--primary-color);
	background-color: var(--acent-color);
}

/* ************************************************************************** */
/* General */
/* ************************************************************************** */
html {
	background-color: var(--secondary-color);
	scroll-behavior: smooth;
}

body {
	padding: 0;
	margin: 0;
	font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
	font-size: 7.5pt; // == 10px
	color: var(--primary-color);
}

picture,
img {
	display: block;
	width: 100%;
}

a {
	color: var(--acent-color);
	text-decoration: none;
}

/* ************************************************************************** */
/* Utilite classes */
/* ************************************************************************** */
.hide {display: none!important;}

.vhide {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	border: 0 !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0 0 0 0) !important;
}

/* ************************************************************************** */
/* .wrapper */
/* ************************************************************************** */
.wrapper {
	position: relative;
	max-width: 1200px;
	padding: 0 24px;
	margin: 0 auto;
	transition: all ease-in 0.3s;
}

/* ************************************************************************** */
/* Fonts */
/* ************************************************************************** */
.meow-script-regular {
	font-family: "Meow Script", cursive;
	font-weight: 400;
	font-style: normal;
}

.zain-light {
	font-family: "Zain", sans-serif;
	font-weight: 300;
	font-style: normal;
}

.zain-regular {
	font-family: "Zain", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.zain-bold {
	font-family: "Zain", sans-serif;
	font-weight: 700;
	font-style: normal;
}

.zain-light-italic {
	font-family: "Zain", sans-serif;
	font-weight: 300;
	font-style: italic;
}

.zain-regular-italic {
	font-family: "Zain", sans-serif;
	font-weight: 400;
	font-style: italic;
}